.news {
  padding: 32px;

  h2 {
    font-size: 26px;
    line-height: 32px;
    color: #1c1c1e;
    margin: 0 0 16px 0;
  }

  p {
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1c1c1e;
  }

  .news__text {
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;

      a {
        color: #002bc5;
      }
    }
  }
}
