body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #4f27bf; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: 4px; /* толщина */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background-color: #4f27bf;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
